.navbar {
    background-color: rgb(200, 0, 0);
}

.navbar li a {
    color: white ;
}

.navbar-brand {
    color: white ;
    padding: 0px;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    color: rgb(0, 0, 0) !important;
}

.dropdown-menu-large {
    min-width: 210px;
}

.black-text {
    color: black !important;
}