<div class="container">
    <div class="row justify-content-around">
        <div class="col-10">
            <div class="row text-center">
                <h1>Novo Produto</h1>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <form (ngSubmit)="submitProduct()" [formGroup]="form">
                            <div class="form-group">
                                <label class="form-label" for="name">Nome</label>
                                <input class="form-control" type="text" id="name" name="name" formControlName="name"
                                    autocomplete="off" placeholder="Produto" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('name')?.valid || form.get('name')?.pristine">
                                    <span *ngIf="form.get('name')?.errors?.['required']">O nome é obrigatório!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="description">Descrição</label>
                                <input class="form-control" type="text" id="description" name="description"
                                    formControlName="description" autocomplete="off" placeholder="Descrição" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('description')?.valid || form.get('description')?.pristine">
                                    <span *ngIf="form.get('description')?.errors?.['required']">A descrição é
                                        obrigatória!</span>
                                    <span *ngIf="form.get('description')?.errors?.['minlength']">A descrição deve conter
                                        pelo menos 3 caracteres!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="expirationDate">Data de Validade</label>
                                <input class="form-control" type="date" id="expirationDate" name="expirationDate"
                                    formControlName="expirationDate" autocomplete="off" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('expirationDate')?.valid || form.get('expirationDate')?.pristine">
                                    <span *ngIf="form.get('expirationDate')?.errors?.['required']">A data de validade é
                                        obrigatória!</span>
                                    <span *ngIf="form.get('expirationDate')?.errors?.['futureDate']">A data de validade deve
                                        ser igual ou superior ao dia de hoje!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="unitPrice">Preço unitário</label>
                                <input class="form-control" type="number" min="0.01" step="0.01" id="unitPrice"
                                    name="unitPrice" formControlName="unitPrice" autocomplete="off"
                                    placeholder="0.00" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('unitPrice')?.valid || form.get('unitPrice')?.pristine">
                                    <span *ngIf="form.get('unitPrice')?.errors?.['required']">O preço unitário é
                                        obrigatório!</span>
                                    <span *ngIf="form.get('unitPrice')?.errors?.['min']">O preço deve ser maior que 0!</span>
                                </div>
                            </div>
                            <br>
                            <label for="hasImageCheckbox" class="form-label">Possui imagem?&nbsp;&nbsp;</label>
                            <input id="hasImage" type="checkbox" name="hasImage" formControlName="hasImage" (click)="changeHasImage()">
                            <br>
                            <div class="form-group" *ngIf="productHasImage">
                                <br>
                                <label class="form-label" for="imageName">Nome do arquivo da imagem + extensão</label>
                                <input class="form-control" type="text" id="imageName" name="imageName"
                                    formControlName="imageName" autocomplete="off" placeholder="Imagem.png" />
                            </div>
                            <br>
                            <div class="row justify-content-around">
                                <div class="col text-center">
                                    <input [disabled]="!form.valid" type="submit" class="btn btn-lg btn-success"
                                        value="Salvar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>