<div class="background-image"></div>
<div class="container">
    <div class="row pt-4">
        <div class="col-7 main-message">
            A melhor pizza de Lages!
            <br>
            <br>
            No momento estamos:
            <br>
            <span [ngClass]="isOpen ? 'green-text' : 'red-text'">{{message}}</span>
            <br>
            <br>
            <button [disabled]="!isOpen" class="button btn btn-lg btn-success main-message" (click)="goShopping()">Faça seu
                pedido</button>
        </div>
        <div class="col-3">
            <img src="../../../../assets/favicon.png" alt="TropPizza">
        </div>
    </div>

</div>
<!-- <app-footer></app-footer> -->