@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    padding-top: 65px;
    height: 100vh;
    /* width: 100vw; */
}

/* main {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
  } */

/* html {
    overflow-y: scroll;
} */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
