.background-image {
    /* position: absolute; */
    height: 110vh;
    width: 100%;
    z-index: -1;
}

.background-image::after {
    content: "";
    background: url("../../../assets/a.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}