<div class="footer fixed-bottom">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-4 footer-text text-center">
          <!-- <h3>Horário de atendimento</h3> -->
          <p><i class="bi bi-calendar-check"></i> Segunda até Domingo</p>
          <p><i class="bi bi-clock"></i> 18:00 h - 00:00 h</p>
        </div>
        <div class="col-4 footer-text text-center">
          <!-- <h3>Contato</h3> -->
          <p><i class="bi bi-whatsapp"></i> Telefone: (00) 0000-0000</p>
          <p><i class="bi bi-signpost"></i> Endereço: Rua Avenida, nº 01, Bairro Bairro</p>
        </div>
        <div class="col-4 footer-text text-center">
          <p class="pt-1">Redes sociais</p>
          <p class="pt-1"><a href="#"><i class="bi bi-twitter px-3"></i></a>
            <a href="#"><i class="bi bi-instagram px-3"></i></a>
            <a href="#"><i class="bi bi-facebook px-3"></i></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>