.footer {
    background-color: rgb(200, 0, 0);
    height: 60px;
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
}

.footer h3 {
    font-size: 12px;
}

.footer-text {
    font-size: 12px;
    line-height: 2px;
}

a:link {
    color: rgb(255, 255, 255) !important;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}