<div class="container">
    <div class="row justify-content-around">
        <div class="col-10">
            <div class="row text-center">
                <h1>Editar Produto</h1>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <form (ngSubmit)="submitProduct()" [formGroup]="form">
                            <div class="form-group">
                                <label class="form-label" for="name">Nome</label>
                                <input class="form-control" type="text" id="name" name="name" formControlName="name"
                                    autocomplete="off" placeholder="Produto" [(ngModel)]="productToEdit.name" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('name')?.valid || form.get('name')?.pristine">
                                    <span *ngIf="form.get('name')?.errors?.['required']">O nome é obrigatório!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="description">Descrição</label>
                                <input class="form-control" type="text" id="description" name="description"
                                    formControlName="description" autocomplete="off" placeholder="Descrição" [(ngModel)]="productToEdit.description"/>
                                <div class="alert alert-danger"
                                    [hidden]="form.get('description')?.valid || form.get('description')?.pristine">
                                    <span *ngIf="form.get('description')?.errors?.['required']">A descrição é
                                        obrigatória!</span>
                                    <span *ngIf="form.get('description')?.errors?.['minlength']">A descrição deve conter
                                        pelo menos 3 caracteres!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="expirationDate">Data de Validade</label>
                                <input class="form-control" type="date" id="expirationDate" name="expirationDate"
                                    formControlName="expirationDate" autocomplete="off" [value]="productToEdit.expirationDate"/>
                                <div class="alert alert-danger"
                                    [hidden]="form.get('expirationDate')?.valid || form.get('expirationDate')?.pristine">
                                    <span *ngIf="form.get('expirationDate')?.errors?.['required']">A data de validade é
                                        obrigatória!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="unitPrice">Preço unitário</label>
                                <input class="form-control" type="number" min="0.01" step="0.01" id="unitPrice"
                                    name="unitPrice" formControlName="unitPrice" autocomplete="off"
                                    placeholder="0.00" [(ngModel)]="productToEdit.unitPrice" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('unitPrice')?.valid || form.get('unitPrice')?.pristine">
                                    <span *ngIf="form.get('unitPrice')?.errors?.['required']">O preço unitário é
                                        obrigatório!</span>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label" for="quantity">Quantidade</label>
                                <input class="form-control" type="number" min="0" step="1" id="quantity"
                                    name="quantity" formControlName="quantity" autocomplete="off"
                                    placeholder="0" [(ngModel)]="productToEdit.quantity" />
                                <div class="alert alert-danger"
                                    [hidden]="form.get('quantity')?.valid || form.get('quantity')?.pristine">
                                    <span *ngIf="form.get('quantity')?.errors?.['required']">A quantidade é obrigatória!</span>
                                    <span *ngIf="form.get('quantity')?.errors?.['min']">A quantidade deve ser maior do que zero!</span>
                                </div>
                            </div>
                            <br>
                            <label for="hasImageCheckbox" class="form-label">Possui imagem?&nbsp;&nbsp;</label>
                            <input id="hasImageCheckbox" type="checkbox" (click)="changeHasImage()" >
                            <!-- [(ngModel)]="productToEdit.hasImage" -->
                            <br>
                            <div class="form-group" *ngIf="hasImage">
                                <br>
                                <label class="form-label" for="imagePath">Nome do arquivo da imagem + extensão</label>
                                <input class="form-control" type="text" id="imagePath" name="imagePath"
                                    formControlName="imagePath" autocomplete="off" placeholder="Imagem.png" [(ngModel)]="productToEdit.imagePath" />
                            </div>
                            <br>
                            <div class="row justify-content-around">
                                <div class="col text-center">
                                    <input [disabled]="!form.valid" type="submit" class="btn btn-lg btn-success"
                                        value="Salvar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>