th, td {
    padding: 5px 1px 5px 1px !important;
    vertical-align: middle;
}

.justify-content-around{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.total-price {
    text-align: right;
}

.form-control { 
    text-align: center; 
}

.big-text, .big-icon {
    text-align: center;
}

.big-icon {
    font-size: 250px;
}

.big-text {
    font-size: 50px;
}