.background-image {
    content: "";
    background: url("../../../../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.main-message {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.green-text {
    color: green;
    font-weight: bolder;
}

.red-text {
    color: red;
    font-weight: bolder;
}

.pizza-image {
    height: 39%;
    width: 39%;
}