<div class="row text-center pb-3">
  <h1>Novo Pedido</h1>
</div>
<div class="container text-center">
  <div class="row row-cols-3">
    <div *ngFor="let product of inventoryProducts, let i = index" class="card col pt-2">
      <div class="" style="height: 100px;">
        <img *ngIf="product.hasImage" class="card-img-top" [src]="'../../../../assets/images/'+product.imageName"
          [alt]="product.imageName" />
        <img *ngIf="!product.hasImage" class="card-img-top" [src]="'../../../../assets/images/placeholder.jpg/'"
          [alt]="product.imageName" />
      </div>
      <div class="card-body">
        <span>{{product.name}}</span>
        <br>
        <span>{{product.description}}</span>
        <br>
        <span>{{"R$ " + product.unitPrice.toFixed(2)}}</span>
        <br>
        <button class="btn btn-success btn-sm p-0" (click)="addQuantity(i)"><i class="bi bi-plus"></i></button>
        <span>{{" " + quantityToCart[i] + " "}}</span>
        <button class="btn btn-danger btn-sm p-0"><i class="bi bi-dash" (click)="removeQuantity(i)"></i></button>
        <p></p>
        <button class="btn btn-warning btn-sm"
          (click)="addToCart(i, quantityToCart[i], product)"><i class="bi bi-cart2"></i> Adicionar
          ao carrinho</button>
      </div>
    </div>
  </div>
  <div class="py-4">
  <button class="btn btn-primary btn-lg" (click)="goToCart()"><i class="bi bi-cart2"></i> Ir para o carrinho</button>
  </div>
</div>