<div class="row text-center">
    <h1>Acompanhar Pedido</h1>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto pb-4">
            <h2>Status da entrega</h2>
        </div>
    </div>
    <div class="row justify-content-around">
        <div [ngClass]="orderToTrack.statusEnum === 0 ? 'col-auto circle-colored' : 'col-auto circle'">
            1
        </div>
        <div [ngClass]="orderToTrack.statusEnum === 1 ? 'col-auto circle-colored' : 'col-auto circle'">
            2
        </div>
        <div [ngClass]="orderToTrack.statusEnum === 2 ? 'col-auto circle-colored' : 'col-auto circle'">
            3
        </div>
        <div [ngClass]="orderToTrack.statusEnum === 3 ? 'col-auto circle-colored' : 'col-auto circle'">
            4
        </div>
    </div>
    <div class="row justify-content-start timeline-list">
        <div class="col-auto">
            <ol>
                <ul [ngClass]="orderToTrack.statusEnum === 0 ? 'bold-text' : ''">1 - Pendente</ul>
                <ul [ngClass]="orderToTrack.statusEnum === 1 ? 'bold-text' : ''">2 - Em preparação</ul>
                <ul [ngClass]="orderToTrack.statusEnum === 2 ? 'bold-text' : ''">3 - Saiu para entrega</ul>
                <ul [ngClass]="orderToTrack.statusEnum === 3 ? 'bold-text' : ''">4 - Entregue</ul>
            </ol>
        </div>
    </div>
    <div class="col text-center">
        <button type="button" class="btn btn-lg btn-danger" value="Voltar"
            (click)="returnToManager()">Voltar</button>
    </div>
</div>