.circle {
    background-color: rgb(191, 191, 191);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.circle-colored {
    background-color: rgb(174, 0, 0);
    color: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}

.after-circle-text {
    font-size: 20px;
}

.box {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    /* border: 2px, solid, black; */
}