<div class="row text-center">
    <h1>Acompanhar Pedido</h1>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto pb-4">
            <h2>Status da entrega</h2>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-auto">
            <div [ngClass]="orderToTrack.statusEnum === 0 ? 'circle-colored' : 'circle'">
                1
            </div>
            <div
                [ngClass]="orderToTrack.statusEnum === 0 ? 'bold-text after-circle-text text-center pt-3' : 'text-center pt-3 after-circle-text'">
                Pendente</div>
        </div>
        <div class="col-auto">
            <div [ngClass]="orderToTrack.statusEnum === 1 ? 'circle-colored' : 'circle'">
                2
            </div>
            <div
                [ngClass]="orderToTrack.statusEnum === 1 ? 'bold-text after-circle-text text-center pt-3' : 'text-center pt-3 after-circle-text'">
                Em preparo</div>
        </div>
        <div class="col-auto">
            <div [ngClass]="orderToTrack.statusEnum === 2 ? 'circle-colored' : 'circle'">
                3
            </div>
            <div
                [ngClass]="orderToTrack.statusEnum === 2 ? 'bold-text after-circle-text text-center pt-3' : 'text-center pt-3 after-circle-text'">
                Delivery</div>
        </div>
        <div class="col-auto">
            <div [ngClass]="orderToTrack.statusEnum === 3 ? 'circle-colored' : 'circle'">
                4
            </div>
            <div
                [ngClass]="orderToTrack.statusEnum === 3 ? 'bold-text after-circle-text text-center pt-3' : 'text-center pt-3 after-circle-text'">
                Entregue</div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-auto pb-3">
            <h2>Dados do pedido</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-left box">
                <strong>Nº do pedido:</strong> {{orderToTrack.id}}
                <br>
                <strong>CPF do cliente:</strong> {{showClientCpf(orderToTrack)}}
                <br>
                <strong>Produtos:</strong> {{cartProductsNames}}
                <br>
                <strong>Data e hora do pedido:</strong> {{orderToTrack.orderDateTime | date:'dd/MM/yyy - HH:mm' + " 'h'" }}
                <br>
                <strong>Valor total:</strong> {{'R$ ' + showTotalPrice()}}
            </div>
        </div>
    </div>
</div>