<div class="row justify-content-around">
  <div class="col-10">
    <div class="row">

      <div class="form-outline">
        Search<input type="search" id="searcgProduct" class="form-control" />
        <label class="form-label" for="searcgProduct"></label>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped table-hover text-center">
          <colgroup>
            <col span="1" style="width: 5%"> <!-- id -->
            <col span="1" style="width: 5%"> <!-- Ativar -->
            <col span="1" style="width: 45%"> <!-- Nome -->
            <col span="1" style="width: 15%"> <!-- Data validade -->
            <col span="1" style="width: 15%"> <!-- Preço unitário -->
            <col span="1" style="width: 15%"> <!-- Quantidade -->
            <col span="1" style="width: 1%">
            <col span="1" style="width: 1%">
            <col span="1" style="width: 1%"> <!-- Editar -->
            <col span="1" style="width: 1%"> <!-- Excluir -->
          </colgroup>
          <caption class="caption-top p-0 ps-1 pb-2"><strong>Tabela 1.</strong> Lista de produtos.
          </caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Ativo?</th>
              <th>Nome</th>
              <th>Data validade</th>
              <th>Preço unitário</th>
              <th>Quantidade</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td><input type="checkbox" [checked]="product.isActive" (click)="changeIsActive(product.id)"></td>
              <td>{{ product.name }}</td>
              <td>{{ product.expirationDate.toString().split('T')[0] | date:'dd/MM/yyy'}}</td>
              <td>{{ "R$ " + product.unitPrice.toFixed(2) }}</td>
              <!-- <td><input type="number" min="0" step="1" size="5" [value]="product.quantity" (change)="changeQuantity(product.id)"></td> -->
              <td>{{ product.quantity }}</td>
              <td><button type="button" class="btn btn-success btn-sm" title="Adicionar"
                  (click)="addQuantity(product.id)"><i class="bi bi-plus-lg"></i></button></td>
              <td><button type="button" class="btn btn-danger btn-sm" title="Remover"
                  (click)="removeQuantity(product.id)"><i class="bi bi-dash-lg"></i></button></td>
              <td><button type="button" class="btn btn-primary btn-sm" title="Editar" (click)="editProduct(product.id)"><i
                    class="bi bi-pencil"></i></button></td>
              <td><button type="button" class="btn btn-dark btn-sm" title="Excluir"
                  (click)="showDeletePopUp(product.id)"><i class="bi bi-trash3"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="deletePopUpShowing">
  <div class="page-lock">
    <div class="delete-popup popup-message text-center">

      <span>Você realmente deseja deletar o produto {{'"' + products[+productToDeleteIndex-1].name + '"'}}?</span>
      <br>
      <button class="btn btn-danger" (click)="confirmDelete()">Confirmar deleção</button>
      <br>
      <button class="btn btn-dark" (click)="closeDeletePopUp()">Não, me tire daqui!</button>
      <br>
      <p></p>
    </div>
  </div>
</div>