<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">TropPizza</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Clientes
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/customer/new" routerLinkActive="active">Novo Cliente</a></li>
            <li><a class="nav-link" routerLink="/customer/manage" routerLinkActive="active">Editar Clientes</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/product/new" routerLinkActive="active">Novo Produto</a></li>
            <li><a class="nav-link" routerLink="/product/manage" routerLinkActive="active">Editar Produtos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Pedidos
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/order/new" routerLinkActive="active">Novo Pedido</a></li>
            <li><a class="nav-link" routerLink="/order/cart" routerLinkActive="active">Carrinho</a></li>
            <li><a class="nav-link" routerLink="/order/manage" routerLinkActive="active">Editar Pedidos</a></li>
            <li><a class="nav-link" routerLink="/order/change-status" routerLinkActive="active">Alterar Status do
                Pedido</a></li>
            <li><a class="nav-link" routerLink="/order/track" routerLinkActive="active">Acompanhar Pedido</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>